
@{
    ViewData["Title"]="Home Page";
}

<div class="p-3 mb-2 bg-info text-white">
    <div class="text-center">
        <h1 class="h1">Library Due Date Tracker Application </h1>
    </div>

    <h2 class="h2">About the Application</h2>
    <ul class="list-group">
      
        <li class="list-group-item list-group-item-light">
            This Application will help you to keep track of all the books that are checked out of a library
        </li>
        <li class="list-group-item list-group-item-light">
            This Application lets you Create a Record of Book,Read the Data,Update,Delete the Data
        </li>
        <li class="list-group-item list-group-item-light">
            This Application was built using ASP.NET Web Application (Model - View - Controller)
        </li>
        <li class="list-group-item list-group-item-light">To Get Started Please hit Create to Create your own book in the Library</li>
</ul>
</div>