
@{
    ViewData["Title"]="Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library Due Date Tracker Application </h1>

</div>
<h2>About the Application</h2>
<p>
    This Application will help you to keep track of all the books that are checked out of a library
</p>
<p>This Application lets you Create a Record of Book,Read the Data,Update,Delete the Data</p>
<p>This Application was built using ASP.NET Web Application (Model - View - Controller) </p>